<section class="py-[60px] md:py-[90px] relative bg-[#111] overflow-clip">
	<div class="md:scale-150 opacity-75 absolute bottom-0 left-0 right-0 top-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_24px] [mask-image:radial-gradient(ellipse_60%_50%_at_50%_0%,#000_70%,transparent_100%)]"></div>
	<div class="md:scale-150 rotate-180 opacity-75 absolute h-full bottom-0 left-0 right-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_24px] [mask-image:radial-gradient(ellipse_60%_50%_at_50%_0%,#000_70%,transparent_100%)]"></div>
	<div class="tcp-container relative">
		<div class="gap-4 items-center justify-center hidden md:flex">
			<img class="h-[40px] md:h-[49px] w-auto" src="/images/circulo-humano-users.png" alt="+300 Personas ya obtuvieron resultados increibles con nosotros" class="w-[200px] h-[200px] object-cover" />
			<p class="text-white max-w-[420px] text-[14px] md:text-[16px]">+300 personas<span class="md:inline hidden"> en 20 países distintos</span> han logrado cambios increibles gracias a este proceso.</p>
		</div>
		<h5 class="text-[#00FBFF] text-balance font-semibold text-center text-[16px] md:text-[18px] my-4 md:mt-8 md:mb-4">
			Programa exclusivo para humanos que no quieren resignarse y saben que están para más.
		</h5>
		<h1 class="text-white font-bold text-[22px] leading-[120%] md:text-[34px] text-center max-w-[1020px] mx-auto md:leading-[50px] md:text-balance">
			Dejá de transitar este camino en soledad, <span class="bg-[#3B4FFF]">conectá con tu propósito de vida</span> en Círculo en tan solo 8 semanas.
		</h1>
		<p class="my-4 md:mb-8 text-white/80 text-center md:text-[16px] text-[14px]">Mirá el video completo para conocer en detalle mi metodología de trabajo:</p>
		<div id="vid_67ab9a1fe266f8e535646c40" style="position: relative; width: 100%; padding: 54.47409733124019% 0 0;"> <img id="thumb_67ab9a1fe266f8e535646c40" src="https://images.converteai.net/e6c08ca4-cb83-46ad-9564-d95d0d125100/players/67ab9a1fe266f8e535646c40/thumbnail.jpg" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; display: block;" alt="thumbnail"> <div id="backdrop_67ab9a1fe266f8e535646c40" style=" -webkit-backdrop-filter: blur(5px); backdrop-filter: blur(5px); position: absolute; top: 0; height: 100%; width: 100%; "></div> </div> <script type="text/javascript" id="scr_67ab9a1fe266f8e535646c40"> var s=document.createElement("script"); s.src="https://scripts.converteai.net/e6c08ca4-cb83-46ad-9564-d95d0d125100/players/67ab9a1fe266f8e535646c40/player.js", s.async=!0,document.head.appendChild(s); </script>
		<div class="gap-4 items-center justify-center flex md:hidden flex-col max-w-[300px] mx-auto mt-8">
			<img class="h-[40px] md:h-[49px] w-auto" src="/images/circulo-humano-users.png" alt="+300 Personas ya obtuvieron resultados increibles con nosotros" class="w-[200px] h-[200px] object-cover" />
			<p class="text-center text-white max-w-[420px] text-[14px] md:text-[16px]">+300 personas<span class="md:inline hidden"> en 20 países distintos</span> han logrado salir del estancamiento y conectar con su propósito de vida.</p>
		</div>
		<img class="mx-auto w-[150px] mix-blend-screen mt-[80px]" src="/images/circulo-humano-logo.webp" alt="Circulo Humano">
		<p class="text-white/80 text-center mt-8 text-[14px] md:text-[16px]">© Circulo Humano 2025. Todos los derechos reservados.</p>
	</div>
</section>