---
import Contenido from "../components/opt-in/Contenido.astro";
import Hero from "../components/opt-in/Hero.astro";
import Matias from "../components/opt-in/Matias.astro";
import UpperBanner from "../components/opt-in/UpperBanner.astro";
import Testimonios from "../components/opt-in/Testimonios.astro";
import Formulario from "../components/opt-in/Formulario.astro";
import Layout from "../layouts/Layout.astro";
import Faqs from "../components/opt-in/Faqs.astro";
import Popup from "../components/opt-in/Popup.astro";
---

<Layout>
	<UpperBanner />
	<Hero />
	<Contenido />
	<Matias />
	<Testimonios />
	<Formulario />
	<!-- <Faqs /> -->
	<p class="text-[#111]/80 px-4 text-center pb-12">© Circulo Humano. Todos los derechos reservados.</p>
	<Popup />
	<!-- Meta Pixel Code -->
	<script is:inline>
		!function(f,b,e,v,n,t,s)
		{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
		n.callMethod.apply(n,arguments):n.queue.push(arguments)};
		if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
		n.queue=[];t=b.createElement(e);t.async=!0;
		t.src=v;s=b.getElementsByTagName(e)[0];
		s.parentNode.insertBefore(t,s)}(window, document,'script',
		'https://connect.facebook.net/en_US/fbevents.js');
		fbq('init', '4313125762161146');
		fbq('track', 'PageView');
	</script>
	<noscript><img height="1" width="1" style="display:none"
	src="https://www.facebook.com/tr?id=4313125762161146&ev=PageView&noscript=1"
	/></noscript>
	<!-- End Meta Pixel Code -->
</Layout>