---
const CONTENIDOS = [
	{
		titulo: "¿Cómo definir con claridad si estoy en el lugar correcto?",
		texto: "Te compartiré una técnica infalible para salir de la duda, dejar de tomar decisiones en tu contra y recuperar tu energía.",
		imagen: "/images/matias-rebozov-contenido-1.webp"
	},
	{
		titulo: "Descubrir para qué nos está pasando esto hoy.",
		texto: "Te voy a enseñar como una simple pregunta ancestral te puede ayudar a salir del fracaso constante.",
		imagen: "/images/matias-rebozov-contenido-2.webp"
	},
	{
		titulo: "¿Cómo hago para atravesar este momento?",
		texto: "Entiendo que probablemente la estés pasando mal. Te voy a compartir herramientas simples para dejar de sufrir este proceso de búsqueda.",
		imagen: "/images/matias-rebozov-contenido-3.webp"
	},
	{
		titulo: "¿En quién me tengo que convertir para lograr mis metas?",
		texto: "No te conozco aún, pero sé que deseas reinventarte. Por mi propia historia te compartiré cuales son los condimentos esenciales para esa transformación.",
		imagen: "/images/matias-rebozov-contenido-4.webp"
	},
];
---

<section class="py-[80px]">
	<div class="tcp-container">
		<h2
			class="text-[24px] leading-[120%] md:text-[40px] md:leading-[50px] text-[#111] font-bold max-w-[740px] mx-auto text-center"
		>
			Las 4 Claves Para Romper Las Cadenas Y SER MAS LIBRE
		</h2>
		<p
			class="mb-8 mt-4 md:mt-4 md:mb-12 text-[#111]/80 text-center md:text-[16px] text-[14px]"
		>
			(De una vez por todas)
		</p>
		<div class="max-w-[1020px] mx-auto">
			{
				CONTENIDOS.map((contenido, index) => (
					<div
						class="group flex gap-4 md:gap-8 not-first:pt-8 not-last:pb-8 md:py-0 md:mb-0 md:not-last:mb-8 flex-col-reverse md:flex-row md:even:flex-row-reverse not-last:border-b border-neutral-950/20 md:border-none"
					>
						<img src={contenido.imagen} class="bg-gray-400 h-auto md:h-[300px] w-full md:w-1/2" />
						<div class="flex flex-col justify-center md:w-1/2">
							<h3 class="group-even:text-end font-bold text-[22px] md:text-[32px] text-[#111] leading-[120%]">
								{contenido.titulo}
							</h3>
							<p class="group-even:text-end text-[#111]/80 mt-4">
								{contenido.texto}
							</p>
						</div>
					</div>
				))
			}
		</div>
		<div class="mt-12">
			<button class="ch-btn open-popup"
				>Hacé clic para reservar tu lugar »</button
			>
			<p class="text-[#111]/80 text-center text-[14px] md:text-[16px] mt-4">Esta oferta dejará de ser gratuita el próximo mes.</p>
		</div>
	</div>
</section>
