<section class="py-[60px] md:py-[90px] relative bg-[#111] overflow-clip px-4">
	<div
		class="md:scale-150 opacity-75 absolute bottom-0 left-0 right-0 top-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_24px] [mask-image:radial-gradient(ellipse_60%_50%_at_50%_0%,#000_70%,transparent_100%)]"
	>
	</div>
	<div class="relative">
		<h5
			class="text-[#00FBFF] text-balance font-semibold text-center text-[16px] md:text-[18px] my-4"
		>
			Masterclass GRATUITA para quienes deseen renunciar a su traba-abajo.
		</h5>
		<h1
			class="text-white font-bold text-[26px] leading-[120%] md:text-[40px] text-center max-w-[920px] mx-auto md:leading-[120%] md:text-balance"
		>
			Descubrí las <span class="bg-[#3B4FFF]">4 claves</span> para romper esas cadenas que te impiden vivir en libertad y conectar con tu propósito de vida.
		</h1>
		<p
			class="my-4 md:mt-4 md:mb-8 text-white/80 text-center md:text-[16px] text-[14px]"
		>
			Un taller de autoconocimiento que ya ayudó a más de <strong>4.000 personas</strong>.
		</p>
		<div>
			<button class="ch-btn open-popup"
				>Hacé click para reservar tu lugar »</button
			>
			<p class="text-white/80 text-center text-[14px] md:text-[16px] mt-4">Esta oferta dejará de ser gratuita el próximo mes.</p>
		</div>
		<div class="flex gap-[100px]">
			<!-- <div>

			</div> -->
			<div class="flex gap-4 mx-auto w-fit mt-12">
				<img class="size-[67px]" src="/images/matias-rebozov.webp" alt="Matías Rebozov" />
				<div>
					<div class="flex gap-2 items-center text-white">
						<h4>matirebozov</h4>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							width="19"
							height="18"
							viewBox="0 0 19 18"
							fill="none"
						>
							<path
								fill-rule="evenodd"
								clip-rule="evenodd"
								d="M9.4991 1.3923L7.0871 0L5.7497 2.3175H2.9444V5.1768L0.5 6.588L1.8923 9L0.5 11.4115L2.9444 12.8232V15.4804H5.63315L7.0871 18L9.4991 16.6077L11.9111 18L13.3655 15.48H16.1384V12.7755L18.5 11.4115L17.1072 9L18.5 6.58845L16.1384 5.22495V2.31795H13.2498L11.9111 0L9.4991 1.3923ZM12.8358 6.44355L13.8501 7.4727L8.70665 12.6477L5.6309 9.5292L6.6407 8.5131L8.70485 10.5745L12.8358 6.44355Z"
								fill="#0095F6"></path>
						</svg>
					</div>
					<p class="max-w-[237px] text-white/80 leading-[120%]">
						Hola! soy Matías Rebozov Ex-Economista y Coach de Vida.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
