<section class="bg-[#111] relative overflow-clip">
	<div
		class="md:scale-150 opacity-75 absolute bottom-0 left-0 right-0 top-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_24px] [mask-image:radial-gradient(ellipse_60%_50%_at_50%_0%,#000_70%,transparent_100%)]"
	>
	</div>
	<div class="tcp-container relative">
		<div class="flex flex-col md:flex-row gap-8">
			<img class="bg-gray-400 h-[600px] w-[511px] max-w-full mt-[60px]" src="" alt="" />
			<div class="pb-[80px] md:py-[100px]">
				<h3 class="text-white font-bold text-[40px]">Pero... ¿Quien soy?</h3>
				<div class="text-white mt-8">
					<strong class="mb-4 block">Antes que nada: </strong>
					<ul class=" list-disc list-inside">
						<li class="mb-2">No soy una autoridad. </li>
						<li class="mb-2">No soy tu mentor. </li>
						<li>No soy libre. </li>
					</ul>
					<br>
					<strong class="mb-4 block">Sin embargo, como Coach tuve: </strong>
					<ul class=" list-disc list-inside">
						<li class="mb-2">+ 300 clientes 1-1</li>
						<li class="mb-2">+ 4.000 entrenamientos </li>
						<li class="mb-2">+ 15 países de habla hispana. </li>
						<li>+ Creador del Círculo Humano de Desarrollo.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
