<section class="bg-[#111] relative overflow-clip">
	<div
		class="md:scale-150 opacity-75 absolute bottom-0 left-0 right-0 top-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_24px] [mask-image:radial-gradient(ellipse_60%_50%_at_50%_0%,#000_70%,transparent_100%)]"
	>
	</div>
	<div class="tcp-container relative">
		<div class="flex flex-col md:flex-row gap-12">
			<img class="md:h-[600px] w-[511px] max-w-full mt-[60px] object-contain md:hidden block" src="/images/quien-soy-mobile.webp" alt="Hola! soy Matías Rebozov ex economista y Coach de vida" />
			<img class="md:h-[600px] w-[511px] max-w-full mt-[60px] object-contain hidden md:block" src="/images/quien-soy.webp" alt="Hola! soy Matías Rebozov ex economista y Coach de vida" />
			<div class="pb-[80px] md:pt-[92px]">
				<h3 class="text-white font-bold text-[32px] md:text-[40px] leading-[120%]">¿Alguna vez te preguntaste quién sos? No vale decir lo que haces ni lo que tenés!</h3>
				<div class="text-white mt-8">
					<strong class="mb-4 block">Pero antes que nada: </strong>
					<ul class=" list-disc list-inside">
						<li class="mb-2">No soy una autoridad. </li>
						<li class="mb-2">No soy tu mentor. </li>
						<li>No soy libre (solo accedemos a la libertad cuando la mente está presente, eso lo veremos en la Masterclass).</li>
					</ul>
					<br>
					<strong class="mb-4 block">Sin embargo, cómo Coach:</strong>
					<ul class=" list-disc list-inside">
						<li class="mb-2">Tuve más de 300 clientes 1-1 en 15 países distintos.</li>
						<li class="mb-2">Entrené a más de 4.000 personas a través de este taller.</li>
						<li class="mb-2">Soy creador del Círculo Humano de Desarrollo (+200 egresados)</li>
					</ul>HACE CLIC ACÁ PARA RECLAMAR TU CLASE GRATIS »
				</div>
			</div>
		</div>
	</div>
</section>
