<section class="py-[80px]">
	<div class="tcp-container">
		<h2
			class="text-[24px] leading-[120%] md:text-[40px] md:leading-[50px] text-[#111] font-bold max-w-[740px] mx-auto text-center"
		>
			Qué opinan los alumnos que atravesaron la Masterclass:
		</h2>
		<!-- <p
			class="my-8 md:mt-4 md:mb-12 text-[#111]/80 text-center md:text-[16px] text-[14px]"
		>
			...
		</p> -->
		<div class="grid md:grid-cols-3 gap-4 mt-8">
			<div class="columns-1">
				<div class="border-1 border-black/20 p-8 rounded-lg mb-4">
					<img class="max-w-[106px]" src="/images/estrellas.webp" alt="Estrellas">
					<p class="mt-4 text-[#111]/80">“"Llegué a la masterclass sintiéndome estancado, sin claridad sobre qué hacer con mi vida. En solo unas horas, entendí qué me estaba frenando y salí con herramientas concretas para tomar acción. Desde entonces, mi nivel de energía y confianza han cambiado por completo. ¡Gracias, Mati!"”</p>
				</div>
				<div class="border-1 border-black/20 p-8 rounded-lg mb-4">
					<img class="max-w-[106px]" src="/images/estrellas.webp" alt="Estrellas">
					<p class="mt-4 text-[#111]/80">“Hola Mati 
						Yo estuve en la Masterclass, es realmente inspiración y apertura de mente a full 
						Muy muy reveladora de ideas y posibilidades 
						Solo que a veces la mente pequeña o condicionada por sus "patrones" no logra accionar al siguiente paso”</p>
				</div>
				<div class="border-1 border-black/20 p-8 rounded-lg mb-4">
					<img class="max-w-[106px]" src="/images/estrellas.webp" alt="Estrellas">
					<p class="mt-4 text-[#111]/80">“Me llevo orden y claridad.... para mi eso es un montón! te lo super agradezco”</p>
				</div>
				<div class="border-1 border-black/20 p-8 rounded-lg">
					<img class="max-w-[106px]" src="/images/estrellas.webp" alt="Estrellas">
					<p class="mt-4 text-[#111]/80">“Lo que más me impactó fue que no es solo teoría, sino que Mati te da herramientas que podés aplicar desde el minuto uno. Me di cuenta de que muchas de mis preocupaciones eran solo cadenas mentales que podía soltar. ¡Increíble!”</p>
				</div>
			</div>
			<div class="columns-1">
				<div class="border-1 border-black/20 p-8 rounded-lg mb-4">
					<img class="max-w-[106px]" src="/images/estrellas.webp" alt="Estrellas">
					<p class="mt-4 text-[#111]/80">“Hola Mati! Tome la máster clase en Enero, llegué a través de Instagram.
						Me llego en un momento crucial de mi vida. En octubre 2024 había tomado la decisión de renunciar a mi trabajo, mi último día fue el 31.1.
						Escucharte ese día de Enero me hizo tanto sentido y fuerza para el paso que di.
						Hoy unas semanas después, estoy en paz siguiendo mi camino.
						Gracias graciasss”</p>
				</div>
				<div class="border-1 border-black/20 p-8 rounded-lg mb-4">
					<img class="max-w-[106px]" src="/images/estrellas.webp" alt="Estrellas">
					<p class="mt-4 text-[#111]/80">“Participé en la masterclass de Mati y me encantó. Me ayudó a ver el ego desde otra perspectiva, entendiendo que es parte de nuestra identidad y que el equilibrio es clave. También me hizo reflexionar sobre la importancia del descanso en un mundo hiperconectado. La meditación fue un momento muy especial, me llevó a mi infancia y me ayudó a reconectar con mi esencia. Sin duda, una experiencia transformadora que me dio muchas respuestas.”</p>
				</div>
				<div class="border-1 border-black/20 p-8 rounded-lg mb-4">
					<img class="max-w-[106px]" src="/images/estrellas.webp" alt="Estrellas">
					<p class="mt-4 text-[#111]/80">“Siempre sentí que algo me detenía, pero no sabía qué. En la masterclass, entendí cómo mis propias creencias estaban saboteando mi libertad. Fue un antes y un después en mi forma de pensar. Hoy me siento mucho más dueño de mi vida y de mis decisiones.”</p>
				</div>
			</div>
			<div class="columns-1">
				<div class="border-1 border-black/20 p-8 rounded-lg mb-4">
					<img class="max-w-[106px]" src="/images/estrellas.webp" alt="Estrellas">
					<p class="mt-4 text-[#111]/80">“Participé el sábado. Llegué por una publicidad en IG y son temas que siempre me gustan reflexionar los que tocaste (no estoy pérdido, pero siempre hay cosas para trabajar sobre uno mismo). Me encantó lo que has compartido, tomé apuntes y justamente el libro de las 7 leyes me fue recomendado hace unas semanas... así que claramente tengo que leerlo (de hecho ya lo descargué).”</p>
				</div>
				<div class="border-1 border-black/20 p-8 rounded-lg mb-4">
					<img class="max-w-[106px]" src="/images/estrellas.webp" alt="Estrellas">
					<p class="mt-4 text-[#111]/80">“Mati tiene una forma única de explicar conceptos complejos de manera simple y poderosa. Durante la masterclass, tuve varios momentos de ‘clic’ que me hicieron ver con claridad lo que realmente quiero en mi vida. Desde ese día, tomé decisiones que había postergado por años.”</p>
				</div>
				<div class="border-1 border-black/20 p-8 rounded-lg mb-4">
					<img class="max-w-[106px]" src="/images/estrellas.webp" alt="Estrellas">
					<p class="mt-4 text-[#111]/80">“Hola buen día llegue por IG y me ayudo a reforzar ideas  y sentires y lo que me lleve fue un momento de linda estimulacion a todo eso que quiero llevar adelante y lo siento.
						Gracias ✨️”</p>
				</div>
			</div>
		</div>
	</div>
</section>